asgiref==3.11.1
beautifulsoup4
Django>=4.2,<5.0
django-cors-headers
djangorestframework
pillow
soupsieve
sqlparse
typing-extensions
gunicorn
whitenoise
cloudinary
django-cloudinary-storage
dj-database-url
psycopg2-binary
